body {
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#title {
  font-size: 8em;
  overflow: hidden;
  animation: typing 3s steps(4,end);
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
}

button {
  color: black;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size:2em;
  margin-top: 3em;
}

.response-div, .button-div{
  height: auto;
  width: 40%;
  text-align: center;
}

p {
  font-size: 2em;
  margin-top: 3em;
}

/* Alt styling for mobile */
@media screen and (max-width: 600px) {
  #title {
    overflow-wrap: break-word;
    animation: none;
  }

  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .response-div, .button-div{
    margin: 0em;
    width: 100%;
  }

  p, button {
    margin-top: .5em
  }
}