body {
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#title {
  font-size: 8em;
  overflow: hidden;
  animation: typing 4s steps(4,end);
}

.general-text{
  text-align: center;
  padding-top: 20em;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.response-div, .button-div {
  height: auto;
  width: 40%;
  text-align: center;
}

#placeholder {
  font-size: 2em;
  margin-top: 4em;
  margin-bottom: 4em;
  position: absolute;
}

#button-element {
  color: black;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size:2em;
  margin-top: 4em;
  margin-bottom: 4em;
}

.large-space{
  height:500em;
  width:100%;
}

/* Alt styling for mobile */
@media screen and (max-width: 1200px) {
  #title {
    overflow-wrap: break-word;
    animation: none;
  }

  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .response-div, .button-div {
    margin: 0em;
    width: 100%;
  }

  #placeholder, #button-element {
    margin-top: .5em
  }
}