body {
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#title {
  font-size: 8em;
  overflow: hidden;
  animation: typing 3s steps(4);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

button {
  color: black;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size:2em;
  margin-top: 3em;
}

.response-div, .button-div{
  height: auto;
  width: 40%;
  text-align: center;
}

p {
  font-size: 2em;
  margin-top: 3em;
}

